.mstheme {
	nav-banner-image: url(banner_water.gif); separator-image: url(rule_water.gif); list-image-1: url(bull1_water.gif); list-image-2: url(bull2_water.gif); list-image-3: url(bull3_water.gif); navbutton-horiz-normal: url(nav_hor_water.gif); navbutton-horiz-hovered: url(nav_hor_over_water.gif); navbutton-horiz-pushed: url(nav_hor_down_water.gif); navbutton-vert-normal: url(nav_vert_water.gif); navbutton-vert-hovered: url(nav_vert_over_water.gif); navbutton-vert-pushed: url(nav_vert_down_water.gif); navbutton-home-normal: url(nav_home_water.gif); navbutton-home-hovered: url(nav_home_over_water.gif); navbutton-up-normal: url(nav_up_water.gif); navbutton-up-hovered: url(nav_up_over_water.gif); navbutton-prev-normal: url(nav_prev_water.gif); navbutton-prev-hovered: url(nav_prev_over_water.gif); navbutton-next-normal: url(nav_next_water.gif); navbutton-next-hovered: url(nav_next_over_water.gif); navbutton-next-pushed: url(nav_next_down_water.gif)
}
UL {
	LIST-STYLE-IMAGE: url(image009.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(image010.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(image011.gif)
}
.mstheme-bannertxt {
	FONT-SIZE: 5px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-horiz-navtxt {
	FONT-SIZE: 2px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-vert-navtxt {
	FONT-SIZE: 2px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-navtxthome {
	FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-navtxtup {
	FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-navtxtprev {
	FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
.mstheme-navtxtnext {
	FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif
}
